<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <style>
        body {
            font-family: 'Roboto';
            font-size: 15px;
            margin: 15px
        }
        h1 {
            background-color: burlywood;
        }
    </style>
</head>

<body>
    <h3>
         <a href = "{{ url_for('home') }}">Customer Churn Predictor</a>
    </h3>

    <div class="alert alert-danger" role="alert">
  <p class="alert-link">We're sorry. There was a problem accessing the database. Please try back later. </p>
    </div>

</body>
</html>