<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
</head>

<body>
    <h3>
         <a href = "{{ url_for('home') }}">Customer Churn Predictor</a>
    </h3>

    <hr/>
    <table>
         <thead>
            <tr>
               <th>Customer_ID</th>
               <th>Predicted_Probability</th>
               <th>Predicted_Outcome</th>
            </tr>
         </thead>

         <tbody>
            {% for customer in customers %}
               <tr>
                   <td>{{ customer.id }}</td>
                   <td>{{ customer.PredProbability}}</td>
                   <td>{{ customer.PredClass }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

</body>
</html>