<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/basic.css" rel="stylesheet">
</head>

<body>
    <h3>
         <a href = "{{ url_for('index') }}">Customer Churn Analysis</a>
    </h3>

    <hr/>
    <table>
         <thead>
            <tr>
               <th>Customer_ID</th>
               <th>Predicted_Probability</th>
               <th>Predicted_Outcome</th>
            </tr>
         </thead>

         <tbody>
            {% for customer in customers %}
               <tr>
                   <td>{{ customer.id }}</td>
                   <td>{{ customer.PredProbability}}</td>
                   <td>{{ customer.PredClass }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <input type=text size=15 name=title placeholder="Title">
        <input type=text size=15 name=artist placeholder="Artist">
        <input type=text size=15 name=album placeholder="Album">
        <input type=submit value=Add>
      </dl>
    </form>

</body>
</html>